#titre1 {
    color: blue;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#formulaire {
    background-color: #bcffbc;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
form {
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}
  
input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 254, 194);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
#message {
    resize: none;
}
  
input[type="submit"] {
    background-color: rgb(178, 178, 252);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
}
